<div class="item">
    {{> item-header title=title subtitle=subtitle }}
    {{> item-details location=location startDate=startDate endDate=endDate }}
    <div class="clearfix"></div>
    {{> @partial-block }}
</div>
