/* Template level */
body {
	font: 12px Times, sans-serif;
	margin: 24px 48px;
}

h1 {
	font: 26px Georgia, serif;
	text-align: center;
	margin: 5px;
}

h2 {
	font-variant-caps: all-small-caps;
	border-width: 1px;
	border-style: none none solid none;
	margin: 5px 0 2.5px 0;
}

section {
	margin: 3px 0;
}

ul {
	margin: 0;
	padding-left: 40px;
}

a {
    text-decoration: none;
    color: black;
}

.item {
	margin-top: 8px;
}

.item>.item-header {
	float: left;
	display: block;
}

.item>.item-header>.item-header-title {
	font-weight: bold;
}

.item>.item-header>.item-header-subtitle {
	font-style: italic;
}

.item>.item-details {
	float: right;
	text-align: right;
}

.item>.item-details>.item-details-title {
	font-weight: bold;
}

.clearfix {
	clear: both;
}

.centered {
	text-align: center;
}

/* Section specific */
/* basics */
.vertical-separator {
	text-align: center;
	padding: 0 10px;
}

.vertical-separator:not(:first-child) {
	border-left: 1px solid #000;
	text-align: center;
}
