{{#if resume.projects.length}}
    <section id="projects">
        <h2>Projects</h2>
        {{#each resume.projects}}
            {{#> item title=name subtitle=description startDate=startDate endDate=endDate url=url mainUrl='y'}}
                {{#if highlights.length}}
                    <ul class="highlights">
                        {{#each highlights}}
                            <li>{{{.}}}</li>
                        {{/each}}
                    </ul>
                {{/if}}
            {{/item}}
        {{/each}}
    </section>
{{/if}}
